@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>Nasze zwierzęta</h3>
<form asp-action="Pets" method="get">
    <input name="name" placeholder="Wpisz imię" />
    <input type="submit" />
</form>
