@model List<ShelterModel>
<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa schroniska</th>
            <th>Miasto</th>
        </tr>
    </thead>
    <tbody>
        @if (Model is not null)
        {
            @foreach (var shelter in Model)
            {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => shelter.Name)</td>
                            <td>@Html.DisplayFor(modelItem => shelter.City)</td>
                        </tr>
            }
        }
    </tbody>
</table>
